@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,800;1,6..96,500&family=Fredoka+One&family=Hurricane&family=Poppins:wght@300;400;700;800&family=Roboto&family=Shadows+Into+Light&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background-image: linear-gradient(#ff5a00, #ffae00);
  width: 100%;
}

header h1 {
  color: #fff;
  padding: 1rem;
  font-weight: 200;
}

main .input-dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b2b2b2;
  padding: 1rem 0;
}

main .input-dates h3 {
  font-weight: 200;
}

main .input-dates form {
  display: flex;
  flex-direction: column;
}

main .input-dates form label {
  font-weight: 200;
  font-size: 0.8rem;
}

main .input-dates form input,
textarea {
  width: 15rem;
  border-radius: 8px;
  border: none;
  background-color: #dddddd;
}

main .input-dates form button {
  background-image: linear-gradient(#ff5a00, #ffae00);
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 2rem;
  cursor: pointer;
}

main .input-dates form button:hover {
  color: #000;
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
}

main .input-dates form .error {
  color: red;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

.output-dates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

main .output-dates .card {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  padding: 1rem;
  border-radius: 8px;
}

main .output-dates .card h1 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  font-weight: 400;
}

main .output-dates .card p {
  font-size: 0.8rem;
}

main .output-dates .card .btn {
  align-self: flex-end;
}

main .output-dates .card button {
  background-image: linear-gradient(#ff5a00, #ffae00);
  color: #fff;
  border: none;
  width: 6rem;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.7rem;
}

main .output-dates .card button:hover {
  color: #000;
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
}

main .output-dates .card .date {
  padding-top: 0.5rem;
  font-style: italic;
  font-size: 0.7rem;
  color: #3c4048;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }

  main .input-dates {
    height: 100vh;
    justify-content: flex-start;
    border-right: 1px solid #b2b2b2;
    padding: 2rem;
  }

  .output-dates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
  }
}
